@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --button-main-background-color: #1967D2;
    --button-outline-border-color: #5F6368;
    --button-outline-text-color: #202124;
    --button-outline-hover-color: #5F6368;
    --button-outline-background: #DADCE0;
    --theme-text-color: #3C4043;
    --theme-a-hover-color: #1967d2;
    --section-space: 80px;
    --section-grid-template: repeat(12, 1fr);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Urbanist",Arial,sans-serif;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    outline: none;
    border-radius: 4px;
    font-optical-sizing: none;
    position: relative;
    transition: all 250ms cubic-bezier(0.1, 0.1, 0, 1);
    text-decoration: none;
    cursor: pointer;
}

.button-default {
    background-color: var(--button-main-background-color);
    color: #fff;
    padding: 8px 20px;
    border: 0;
    border-radius: 4px;
}

.button-default:hover {
    background: linear-gradient(0deg, rgb(25 24 24 / 16%), rgb(25 24 24 / 16%)),
        #1967d2;
}
.button-no-outline {
    background-color: transparent;
    color: var(--theme-a-hover-color);
    border: 0;
    width: fit-content;
}
.button-no-outline:hover {
    background-color: #f6fafe;
}

.standard-heading {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.5px;
}
@media (max-width: 1023px) {
    .standard-heading {
        font-size: 24px;
        line-height: 30px;
    }
}

.dotted-underline {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 3.5px;
    text-underline-offset: 1px;
}

/* Navigation */
.navigation {
    height: 56px;
    width: 100%;
    position: relative;
    z-index: 91;
}
.navigation .navigation-container {
    display: flex;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
    flex-direction: row;
    margin: 0 auto;
}
.navigation .nav-pull-left, .nav-pull-right {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
.nav-pull-left .menu-icon {
    width: 24px;
    height: 24px;
    -webkit-tap-highlight-color: transparent;
    color: rgb(95,99,104);
    fill: rgb(95,99,104);
    transition: all 80ms ease-out;
    margin-right: 20px;
    display: none;
}
.navigation .products {
    margin-left: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.navigation .products a {
    color: var(--theme-text-color);
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
    position: relative;
    transition: color 350ms ease;
}
.navigation .products a::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    min-width: 48px;
    min-height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation .products a:hover {
    color: var(--theme-a-hover-color);
}
.navigation .products a~a {
    margin-left: 20px;
}
.logo {
    width: 24px;
    height: 24px;
}

.nav-pull-right {
    position: relative;

}

.nav-pull-right .icon {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    color: rgb(95,99,104);
    fill: rgb(95,99,104);
    transition: all 80ms ease-out;
    margin-left: 24px;
}
.nav-pull-right .icon:hover {
    color: #1967d2;
    fill: #1967d2;
}

.nav-pull-right .profile-image {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
}
.nav-pull-right .profile-image img {
    object-fit: cover;
    border-radius: 50%;
}


@media (min-width: 320px) and (max-width: 480px) {
    .nav-pull-left .menu-icon {
        display: inline-block;
    }
    .nav-pull-left .products {
        display: none;
    }
     .nav-pull-right .help-icon {
        display: none;
     }
    .nav-pull-right .icon {
        margin-left: 16px;
    }
}
  
  

/* ./ Navigation */

/* Hero Section */
.hero-section {
    position: relative;
    overflow: hidden;
}
.hero-section .hero-header, .help-section .help-section--heading, .pixel-types--section .pixel-types-section--heading {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    margin: 0 auto;
    max-width: 1392px;
}
.hero-section .hero-header div, .help-section .title, .pixel-types--section .title {
    padding-top: 30px;
    grid-column-start: 3;
    grid-column-end: span 8;
}
.hero-section .hero-header .heading {
    text-align: center;
    font-size: 80px;
    line-height: 88px;
    font-weight: 700;
    color: var(--theme-text-color);
}
@media (min-width: 320px) and (max-width: 480px) {
    .hero-section .hero-header {
        grid-template-columns: repeat(4, 1fr);
    }
    .hero-section .hero-header div {
        grid-column-start: 1;
    }
    .hero-section .hero-header .heading {
        font-size: 36px;
        line-height: 46px;
    }
}


/* Products Marquee */
.products-marquee {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: var(--section-space);
    overflow-x: scroll;
}
.product-marquee--container {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 16px;
    grid-template-rows: 1fr;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}
.product-container {
    width: 120px;
}
.product-image--container {
    max-width: 120px;
    max-height: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.product-image--container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-marquee--content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}
.product-marquee--content span {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #E8F0FE;
    width: fit-content;
    margin: 0 auto;
}
.product-marquee--content .product-name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: .25px;
    color: var(--theme-text-color);
}

@media (min-width: 320px) and (max-width: 480px) { 
    .products-marquee {
        overflow-x: scroll;
    }
}
@media (min-width: 600px) and (max-width: 1023px) {
    .product-marquee--container {
        grid-column-gap: 48px;
        padding-left: calc(24px + (100% - 600px) / 2);
        padding-right: calc(24px + (100% - 600px) / 2);
    }
}

@media (min-width: 1024px) {
    .product-marquee--container {
        grid-column-gap: 48px;
    }
}

/* Hero Section */


/* Pixel Section */
.pixel-section {
    margin-top: var(--section-space);
    margin-bottom: 80px;
    position: relative;
}
.pixel-section .pixel-container {
    max-width: 1440px;
    display: grid;
    column-gap: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
}
.pixel-container .pixel-card {
    grid-column-end: span 4;
    border-radius: 28px;
    overflow: hidden;
    background-color: #000;
}
.pixel-container .pixel-card--content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pixel-container .pixel-card:nth-child(1) {
    background: #495144;
}
.pixel-container .pixel-card:nth-child(2) {
    background: #EAF5D6;
}
.pixel-container .pixel-card:nth-child(3) {
    background: #D8E6D1;
}
.pixel-container .pixel-card~.pixel-card .pixel-card--description {
    color: var(--theme-text-color);
}
.pixel-container .pixel-card~.pixel-card .pixel-card--buttons button {
    border-color: var(--button-outline-border-color);
    color: var(--theme-text-color);
}

.pixel-container .pixel-card~.pixel-card .pixel-card--buttons button:hover {
    background-color: #5F6368;
    color: #fff;
}
.pixel-container .pixel-card~.pixel-card .pixel-card--buttons button:nth-child(2) {
    border-color: transparent;
}
.pixel-container .pixel-card~.pixel-card .pixel-card--buttons button:nth-child(2):hover {
    background-color: rgb(60 64 67 / 8%);
    color: var(--theme-text-color);
}

.pixel-container .pixel-card--description {
    padding: 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.pixel-container .pixel-card--description .title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.pixel-container .pixel-card--description .body {
    font-size: 16px;
    line-height: 24px;
}

.pixel-container .pixel-card--description .price {
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    letter-spacing: 0.3px;
}
.pixel-container .pixel-card--description .info {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.3px;
}
.pixel-container .pixel-card--buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.pixel-container .pixel-card--buttons button {
    margin: 0 auto;
    border-color: #DADCE0;
    color: #fff;
    width: fit-content;
    cursor: pointer;
}
.pixel-container .pixel-card--buttons button:nth-child(2) {
    border-color: transparent;
}
.pixel-container .pixel-card--buttons button:nth-child(2):hover {
    background-color: rgb(255 255 255 / 16%);
    color: #fff;
}
.pixel-container .pixel-card--buttons button:hover {
    color: var(--button-outline-text-color);
    background-color: var(--button-outline-background);
}
.pixel-image {
    aspect-ratio: 896 / 988;
    width: 100%;
    height: 100%;
}
.pixel-image img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 320px) and (max-width: 480px) { 
    .pixel-section .pixel-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1024px) {
    .pixel-section .pixel-container .pixel-card~.pixel-card {
        margin-top: 24px;
    }
}

@media (min-width: 599px) and (max-width: 1023px) {
    .pixel-section .pixel-container {
        max-width: 600px;
    }
}

@media (min-width: 1025px) {
    .pixel-section .pixel-container {
        max-width: 1440px;
        grid-template-columns: repeat(12, 1fr);
    }
}

/* ./ Pixel Section */


/* Help section */
.help-section .title, .pixel-types--section .title{
    text-align: center;
    color: var(--theme-text-color);
    font-weight: 700;
}

.help-grid--container {
    grid-template-columns: var(--section-grid-template);
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
    margin-top: var(--section-space);
    display: grid;
    column-gap: 24px;
}

.help-grid--container .help-grid-content {
    grid-template-columns: repeat(4, 1fr);
    grid-column-start: 2;
    grid-column-end: span 10;
    column-gap: 24px;
    display: grid;
}

.help-container .icon {
    width: 24px;
    margin: 0 auto 16px auto;
    aspect-ratio: 32 / 32;
    position: relative;
}
.help-container .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.help-container .sub-heading {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: var(--theme-text-color);
}

.help-container .description {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin-top: 12px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .help-grid--container {
        grid-template-columns: repeat(4, 1fr);
    }
    .help-section .help-grid-content{
        display: flex;
        gap: 40px;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: span 4;
    }
}
@media (max-width: 1023px) {
    .help-section .help-grid-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
@media (min-width: 1024px) {
    .help-section .help-grid-content {
        display: grid;
    }
}
@media (min-width: 1440px) {
    .help-section .help-grid--container {
        max-width: 1440px;
    }
}


/* ./ Help section */


/* Pixel Types */
.pixel-types--section {
    margin-top: var(--section-space);
    color: var(--theme-text-color);
}
.pixel-types--section .pixel-types-grid--container, .pixel-types-details-grid--container, .pixel-specs--container {
    grid-template-columns: var(--section-grid-template);
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
    margin-top: var(--section-space);
    display: grid;
    column-gap: 24px;
}

.pixel-types--section .pixel-type-grid--content, .pixel-types-details-grid--content {
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 2;
    grid-column-end: span 10;
    column-gap: 24px;
    display: grid;
}

.pixel-type-grid--content .pixel-container {
    background-color: #F8F9FA;
    border-radius: 20px;
    position: relative;
}

.pixel-type-grid--content .pixel-container span {
    position: absolute;
    top: 24px;
    left: 24px;
    color: var(--theme-text-color);
    padding: 0 8px;
    border-radius: 16px;
    box-sizing: border-box;
    background-color: #E8F0FE;
}

.pixel-type-grid--content .pixel-container .image-container{
    aspect-ratio: 740 / 592;
    width: 100%;
    height: 100%;
}
.pixel-type-grid--content .pixel-container .image-container img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.pixel-type-grid--content .pixel-container .colors {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    position: absolute;
    bottom: 24px;
    left: 24px;
}
.pixel-type-grid--content .pixel-container .colors div{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid var(--button-outline-border-color);
}
.pixel-type-grid--content .pixel-container:nth-child(1) .colors div:nth-child(1) {
    background-color: #898C8A;
}
.pixel-type-grid--content .pixel-container:nth-child(1) .colors div:nth-child(2) {
    background-color: #F7F7F7;
}
.pixel-type-grid--content .pixel-container:nth-child(1) .colors div:nth-child(3) {
    background-color: #252525;
}
.pixel-type-grid--content .pixel-container:nth-child(2) .colors div:nth-child(1) {
    background-color: #D5E0A0;
}

.pixel-type-grid--content .pixel-container:nth-child(2) .colors div:nth-child(2) {
    background-color: #F7F7F7;
}

.pixel-type-grid--content .pixel-container:nth-child(2) .colors div:nth-child(3) {
    background-color: #252525;
}
.pixel-type-grid--content .pixel-container:nth-child(3) .colors div:nth-child(1) {
    background-color: #DBE5DD;
}

.pixel-type-grid--content .pixel-container:nth-child(3) .colors div:nth-child(2) {
    background-color: #CCCBC9;
}

.pixel-type-grid--content .pixel-container:nth-child(3) .colors div:nth-child(3) {
    background-color: #707070;
}

.pixel-types--section .pixel-types-details-grid--container {
    margin-top: 40px;
}
.pixel-types-details-grid--container .pixel-types-details--container .header{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}
.pixel-types-details-grid--container .pixel-types-details--container .sub-title {
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}
.pixel-types-details-grid--container .pixel-types-details--container .price {
    margin-top: 18px;
}
.pixel-types-details-grid--container .pixel-types-details--container .price div:nth-child(1) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.pixel-types-details-grid--container .pixel-types-details--container .price div:nth-child(2) {
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
}

.pixel-types-details-grid--container .pixel-types-details--container .buttons {
    margin-top: 16px;
}

.pixel-types-details-grid--container .pixel-types-details--container .buttons {
    display: flex;
    gap: 16px;
}

.pixel-specs--container .pixel-column--container {
    grid-column-start: 2;
    grid-column-end: span 10;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.pixel-specs--container .pixel-column--container .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pixel-specs--container .pixel-specs--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}
.specs-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--theme-text-color);
}
.specs-content .specs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.pixel-specs--container .container .header {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.pixel-specs--container .header .divider {
    width: 100%;
    height: 1px;
    margin: 0 auto;
    line-height: 0;
    background-color: #DADCE0;
}

.specs-content .specs .header{
    font-size: 40px;
    line-height: 42px;
    font-weight: 700;
}
.specs-content .specs .header .img--container {
    width: 48px;
    height: 48px;
    position: relative;
}
.specs-content .specs .header .img--container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.specs-content .specs .description .text-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.specs-content .specs .description {
        font-weight: 500;
}

.specs-content .specs .description .type{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 3.5px;
    text-underline-offset: 1px;
}
.specs-content .specs .description div {
    margin-top: 5px;
}

.specs-content .button-no-outline {
    margin-top: 24px;
}

.compare-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}






@media (max-width: 1023px) {
    .pixel-types--section .pixel-types-grid--container {
        margin-top: 20px;
    }
    .pixel-types--section .pixel-types-details-grid--container {
        margin-top: 20px;
    }
    .pixel-type-grid--content .pixel-container .image-container {
        aspect-ratio: 264 / 364;
    }
    .pixel-types--section .pixel-types-grid--container, .pixel-types-details-grid--container, .pixel-specs--container .pixeel-column--container{
        padding: 16px;
    }
    .pixel-types--section .pixel-type-grid--content, .pixel-types-details-grid--content,.pixel-specs--container .pixel-column--container,.pixel-specs--container .pixel-specs--grid{
        grid-template-columns: repeat(2, 1fr);
        grid-column-start: 1;
        grid-column-end: span 12;
    }
    .pixel-specs--container {
        margin-top: 40px;
    }
    .pixel-specs--container .pixel-column--container {
        gap: 40px;
    }
    .pixel-type-grid--content .pixel6a, .pixel-types-details-grid--content .pixel6a {
        display: none;
    }

    .pixel-types-details-grid--container .pixel-types-details--container .buttons { 
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .pixel-types-details-grid--container .pixel-types-details--container .buttons button {
        width: fit-content;
    }

    .pixel-specs--grid .specs-content~.specs-content~.specs-content {
        display: none;
    }
}

/* ./ Pixel Types */
